<div class="container-fluid">
    <div class="row">
        <!-- invoice section -->
        <div class="col-7">

            <!-- invoice table -->
            <div class="card mt-2">
                <div class="card-header">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-auto">
                            <!-- Clear Button -->

                            <button ng-show="!selectedTab && invoice.length > 0" class="btn btn-warning"
                                ng-click="holdInvoice()"><i class="fas fa-pause"></i> Hold Invoice</button>
                        </div>
                        <div class="col-auto">
                            <h3 class="text-end text-primary">Total: {{ totalPrice.toLocaleString() }} L.L</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <table class="table table-borderlesss table-striped text-center table-sms m-0">
                        <thead>
                            <tr>
                                <th width="35%">Description</th>
                                <th width="20%">Unit Price</th>
                                <th width="5%">Qty</th>
                                <th width="20%">Total Price</th>
                                <th colspan="2" width="20%">Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in invoice">
                                <td>{{ data.item_description }}</td>

                                <!-- unit price lira -->
                                <td>{{ data.unit_price.toLocaleString() }} L.L
                                    <span class="text-danger"
                                        ng-if="data.currency == 'sayrafa'">({{ data.original_price.toLocaleString() }}$)
                                    </span>
                                    <span class="text-success"
                                        ng-if="data.currency == 'dollar'">({{ data.original_price.toLocaleString() }}$)
                                    </span>
                                </td>

                                <!-- qty input -->
                                <td>{{ data.qty }}</td>

                                <!-- total -->
                                <td>{{ (data.unit_price * data.qty).toLocaleString() }} L.L
                                    <span class="text-danger"
                                        ng-if="data.currency == 'sayrafa'">({{ (data.original_price * data.qty).toLocaleString() }}$)
                                    </span>
                                    <span class="text-success"
                                        ng-if="data.currency == 'dollar'">({{ (data.original_price * data.qty).toLocaleString() }}$)
                                    </span>
                                </td>

                                <td width="10%" ng-click="substractQty($index)" class="danger-hover text-danger"><i
                                        class="fas fa-minus fa-lg"></i></td>

                                <!-- edit price on the go -->
                                <td ng-click="addQty($index)" class="success-hover text-success"><i
                                        class="fas fa-plus"></i>
                                </td>

                                <!-- delete -->
                            </tr>

                            <tr ng-if="invoice.length == 0" class="table-active">
                                <td colspan="6">No Items Selected Yet!</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="card-footer" ng-show="invoice.length > 0">
                        <!-- checkout and hold buttons -->
                        <button ng-show="invoice.length > 0" class="btn btn-success" ng-click="checkout()"><i
                                class="fas fa-cart-arrow-down"></i>
                            Checkout</button>
                        <button ng-show="invoice.length > 0" class="btn btn-secondary" ng-click="clearInvoice()"><i
                                class="fas fa-times"></i> Clear</button>
                        <button class="btn btn-primary float-end" ng-click="takeaway()"><i
                                class="fas fa-motorcycle"></i> Takeaway</button>
                    </div>
                </div>
            </div>

            <!-- paused invoices tabs -->
            <div class="row d-flex mt-4">
                <div class="col-auto" ng-repeat="tab in invoicesOnHold">
                    <div class="btn-group" role="group">
                        <button ng-class="{'active': selectedTab == ($index + 1)}"
                            class="btn btn-outline-success btn-lgs" ng-click="switchHoldedInvoice($index)"><i
                                class="fas fa-receipt"></i> invoice
                            {{ tab[0] + 1 }}</button>
                        <button class="btn btn-outline-danger" ng-click="deleteInvoice($index)"><i
                                class="fas fa-times"></i></button>
                    </div>
                </div>
            </div>


        </div>

        <!-- Categories and Items -->
        <div class="col-5">
            <div class="card mt-2">
                <div class="card-header">
                    <h5 class="text-center">Categories</h5>
                </div>
                <div class="card-body pt-1 pb-1">
                    <div class="row">
                        <div class="col-4 p-1 text-center" ng-repeat="data in categories"
                            ng-if="data.show_on_sell">
                            <div ng-class="{'bg-dark text-light': data.category_name == selectedCategory.category_name}"
                                class="card pointer dark-hover" ng-click="setCategory(data)">
                                <div class="card-body"><strong>{{ data.category_name }}</strong></div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="m-0">
                <!-- ################# Items section ####################### -->
                <div class="card-body pt-1">
                    <h5 class="text-center m-0">{{ selectedCategory.category_name }}</h5>
                    <div class="row">
                        <div ng-repeat="data in items | filter:searchVal:true:strict" class="p-1 col-4 mt-2 text-center">
                            <div class="card pointer dark-hover" ng-mousedown="mouseEvent($event, data)">
                                <div class="card-body p-1 h6 m-0">{{ data.item_description }}</div>
                                <div class="card-footer p-1 h6 m-0">
                                    <!-- lira -->
                                    <span ng-if="data.currency == 'lira'">{{ data.item_price.toLocaleString() }}
                                        L.L 
                                        (LBP)
                                    </span>
                                    <!-- sayrafa -->
                                    <span
                                        ng-if="data.currency == 'sayrafa'">{{ sayrafaRound(data.item_price * sayrafaRate.rate_value).toLocaleString() }}
                                        L.L 
                                        <span class="text-danger">({{ data.item_price.toLocaleString() }}$)</span>
                                    </span>
                                    <!-- dollar -->
                                    <span
                                        ng-if="data.currency == 'dollar'">{{ round(data.item_price * exchangeRate.rate_value).toLocaleString() }}
                                        L.L 
                                        <span class="text-success">({{ data.item_price.toLocaleString() }}$)</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>