<!DOCTYPE html>
<html lang="en" ng-app="mainApp" ng-controller="mainController">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salameh Cell</title>

    <!-- Load Stylesheets CSS -->
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/jquery-ui/themes/base/theme.css">
    <link rel="stylesheet" href="../node_modules/jquery-ui/themes/base/datepicker.css">
    <link rel="stylesheet" href="../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="../node_modules/@sweetalert2/themes/dark/dark.min.css">
    <link rel="stylesheet" href="../node_modules/@jarstone/dselect/dist/css/dselect.min.css">

    <!-- JS Frameworks -->
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/jquery-ui/dist/jquery-ui.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="../node_modules/angular-route/angular-route.min.js"></script>
    <script src="../node_modules/angular-utils-pagination/dirPagination.js"></script>
    <script src="../node_modules/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="../node_modules/moment/moment.js"></script>
    <script src="../node_modules/chart.js/dist/chart.umd.js"></script>
    <script src="../node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>
    <script src="../node_modules/mousetrap/mousetrap.min.js"></script>
    <script src="../node_modules/mousetrap/plugins/global-bind/mousetrap-global-bind.min.js"></script>
    <script src="../node_modules/@jarstone/dselect/dist/js/dselect.min.js"></script>

    <!-- Load Main Stylesheet -->
    <link rel="stylesheet" href="style.css">

    <!-- Load Main Controller -->
    <script src="mainController.js"></script>

    <!-- Load Services -->
    <script src="_services/notificationService.js"></script>
    <script src="_services/dateService.js"></script>
</head>

<body data-bs-theme="{{ theme }}" ng-cloak>

    <nav class="navbar navbar-expand-lg bg-black">
        <div class="container-fluid">
            <a class="navbar-brand"><i class="fas fa-circle-radiation fa-lg"></i></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#!/services"><i class="fas fa-money-check"></i> Services</a>
                    </li> -->
                    <li class="nav-item">
                        <a ng-class="{'active': tabSelected == '/sell'}" class="nav-link" href="#!/sell"><i class="fas fa-shopping-cart"></i> Sell</a>
                    </li>
                    <li class="nav-item">
                        <a ng-class="{'active': tabSelected == '/stock'}" class="nav-link" href="#!/stock"><i class="fas fa-boxes"></i> Stock</a>
                    </li>
                    <li class="nav-item">
                        <a ng-class="{'active': tabSelected == '/history'}" class="nav-link" href="#!/history"><i class="fas fa-history"></i> History</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#!/customers"><i class="fas fa-users"></i> Customers</a>
                    </li> -->
                    <li class="nav-item">
                        <a ng-class="{'active': tabSelected == '/debts'}" class="nav-link" href="#!/debts"><i class="fas fa-users"></i> Debts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=""><i class="fas fa-chart-line fa-fw"></i> Reports</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#!/reminders"><i class="fas fa-stopwatch"></i> Reminders <span
                                class="badge badge-pill badge-danger"
                                ng-if="remindersCount.length > 0">{{remindersCount.length}}</span></a>
                    </li> -->

                    
                </ul>
                <div class="ms-auto">
                    <exchange-rate></exchange-rate>
                </div>


                <!-- Settings -->
                <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
                    <!-- toggle theme -->
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
                                <i class="fas fa-lg" ng-class="{'fa-sun': theme == 'light', 'fa-moon': theme == 'dark'}"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a ng-class="{'active': theme == 'light'}" href="" class="dropdown-item" ng-click="toggleTheme('light')"><i
                                            class="fas fa-sun fa-lg"></i> Light</a></li>
                                <li><a ng-class="{'active': theme == 'dark'}" href="" class="dropdown-item" ng-click="toggleTheme('dark')"><i
                                            class="fas fa-moon fa-lg"></i> Dark</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="vr"></div>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"><i
                                class="fas fa-user-alt"></i>
                            admin
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="#!/settings"><i class="fas fa-cog fa-lg"></i>
                                    Settings</a></li>
                            <li><a class="dropdown-item" href="" data-bs-toggle="modal" data-bs-target="#aboutModal"><i
                                        class="fas fa-info-circle fa-lg fa-fw"></i> About</a></li>
                            <li><a class="dropdown-item" href="" ng-click="openUpdateModal()"><i
                                        class="fas fa-sync-alt fa-lg fa-fw"></i> Check For Updates</a></li>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="" ng-click="logout()"><i
                                    class="fas fa-sign-out-alt fa-lg"></i>
                                Logout</a>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="modal fade" id="updateModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><i class="fas fa-sync-alt fa-lg"></i> Updater(beta)</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body text-center">
                    <h3 class="text-center">Salameh Cell</h3>
                    <h6 class="text-center">current version: {{package.version}}</h6>

                    <!-- text -->
                    <h6 class="text-center mt-3">{{text}}</h6>

                    <!-- spinner -->
                    <div class="d-flex justify-content-center mt-3" ng-if="showSpinner">
                        <div class="spinner-grow text-primary" role="status">
                        </div>
                    </div>

                    <!-- download update button -->
                    <button ng-show="download == true" type="button" class="btn btn-outline-dark"
                        ng-click="downloadUpdate()">download now</button>

                    <!-- download progress -->
                    <div class="text-center" ng-if="downloading">
                        <div class="progress">
                            <div id="progressBar" class="progress-bar bg-success" role="progressbar"></div>
                        </div>
                        <span>({{((data.transferred)/1000000).toFixed(2)}} MB / {{((data.total)/1000000).toFixed(2)}}
                            MB)</span>
                    </div>

                    <!-- install update button -->
                    <div class="text-center" ng-if="downloaded">
                        <button class="btn btn-outline-success" ng-click="applyUpdate()">install now</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <!-- check for update button -->
                    <button ng-show="checked == false" type="button" class="btn btn-success"
                        ng-click="checkForUpdates()">Check
                        for Update</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div>
        <div ng-view>
            <!-- here where the pages load their contents -->
        </div>
    </div>
</body>

<!-- Load Controllers -->
<script src="controller/sellController.js"></script>
<script src="controller/stockController.js"></script>
<script src="controller/historyController.js"></script>
<script src="controller/debtsController.js"></script>
<script src="controller/settingsController.js"></script>

<!-- Load Models -->
<script src="model/sellFactory.js"></script>
<script src="model/stockFactory.js"></script>
<script src="model/historyFactory.js"></script>
<script src="model/debtsFactory.js"></script>
<script src="model/settingsFactory.js"></script>

<!-- Load Directives -->
<script src="_directives/js/accountSettings.js"></script>
<script src="_directives/js/generalSettings.js"></script>
<script src="_directives/js/stockSettings.js"></script>
<script src="_directives/js/rateSettings.js"></script>
<script src="_directives/js/vouchersSettings.js"></script>
<script src="_directives/js/customersSettings.js"></script>

<!-- Load Directive's Models -->
<script src="_directives/models/accountFactory.js"></script>
<script src="_directives/models/generalFactory.js"></script>
<script src="_directives/models/rateFactory.js"></script>
<script src="_directives/models/vouchersFactory.js"></script>
<script src="_directives/models/customersFactory.js"></script>

</html>